.slide.slide-weather {
  $ground: #90db1c;
  $sky: #7cedf5;
  $hillsDark: #1a7764;
  $hillsLight: #61bc33;
  $ground-night: #151f2a;
  $sky-night: #234;
  $hillsDark-night: lighten($sky-night, 4%);
  $hillsLight-night: lighten($sky-night, 8%);
  $crater: rgba(0, 0, 0, .1);

  $animationTime: 1500ms;

  background-color: $ground;
  transition: all $animationTime;

  &.day {
    .moon {
      transform: translate(-200px, 400px);
    }
  }
  &.night {
    background-color: $ground-night;
    .content {
      left: 360px;
      color: lightgrey;
    }
    .landscape {
      background-color: $sky-night;
    }
    .trees div {
      background-color: $ground-night;
    }
    .trees div:before,
    .trees div:after,
    .trees div span:before,
    .trees div span:after {
      border-bottom-color: $ground-night;
    }
    .hills div:nth-child(1),
    .hills div:nth-child(2),
    .hills div:nth-child(3) {
      background: $hillsDark-night;
    }
    .hills div:nth-child(4),
    .hills div:nth-child(5) {
      background: $hillsLight-night;
    }
    .sun {
      transform: translate(200px, 400px);
    }
    .moon {}
  }

  .content {
    left: 130px;
    top: 30px;
  }

  .landscape {
    z-index: 100;
    position: relative;
    height: 400px;
    overflow: hidden;
    background-color: $sky;
  }
  .sun {
    position: absolute;
    left: 55%;
    bottom: 70px;
    width: 350px;
    height: 350px;
    margin: 0 0 0 -50px;
    border-radius: 50%;
    background: #fff27d;
    transition: all $animationTime;
  }
  .moon {
    position: absolute;
    right: 58%;
    bottom: 70px;
    width: 350px;
    height: 350px;
    margin: 0 0 0 -50px;
    border-radius: 50%;
    background: #ccc;
    transition: all $animationTime;
  }
  .moon:after {
    top: 100px;
    left: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $crater;
    box-shadow: 120px 80px 0 $crater, 100px -60px 0 -20px $crater, -70px 40px 0 -20px $crater, -20px -50px 0 -15px $crater, -20px 120px 0 -15px $crater, 50px 50px 0 -15px $crater;
    ;
  }
  .trees {
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -320px;
  }
  .trees div {
    position: relative;
    float: left;
    display: block;
    width: 6px;
    height: 8px;
    margin: 0 30px -5px 0;
    background: $ground;
    transition: all $animationTime;
  }
  .trees div:before {
    bottom: 8px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-bottom-color: $ground;
    border-width: 12px;
    left: 50%;
    margin-left: -12px;
    transition: all $animationTime;
  }
  .trees div:after {
    bottom: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-bottom-color: $ground;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
    transition: all $animationTime;
  }
  .trees div span:before {
    bottom: 22px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-bottom-color: $ground;
    border-width: 8px;
    left: 50%;
    margin-left: -8px;
    transition: all $animationTime;
  }
  .trees div span:after {
    bottom: 28px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-bottom-color: $ground;
    border-width: 6px;
    left: 50%;
    margin-left: -6px;
    transition: all $animationTime;
  }
  .hills {
    position: absolute;
    left: 50%;
    bottom: -30px;
  }
  .hills div {
    overflow: hidden;
    border-radius: 8%;
    transform: rotate(45deg);
  }
  .hills div:nth-child(1),
  .hills div:nth-child(2),
  .hills div:nth-child(3) {
    position: absolute;
    bottom: -350px;
    width: 500px;
    height: 500px;
    background: $hillsDark;
    transition: all $animationTime;
  }
  .hills div:nth-child(1) {
    left: -750px;
  }
  .hills div:nth-child(2) {
    left: -250px;
  }
  .hills div:nth-child(3) {
    left: 250px;
  }
  .hills div:nth-child(4),
  .hills div:nth-child(5) {
    position: absolute;
    bottom: -400px;
    left: -600px;
    width: 500px;
    height: 500px;
    background: $hillsLight;
    transition: all $animationTime;
  }
  .hills div:nth-child(4) {
    left: -500px;
  }
  .hills div:nth-child(5) {
    left: 0;
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
